$red: #e63946;
$white: #f1faee;
$blue1: #a8dadc;
$blue2: #457b9d;
$blue3: #1d3557;
$br: .75em;
$brw: .15em;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Quicksand';
}

body{
    // font-size: 1.2em;
    background: linear-gradient(90deg, $blue2, $blue1);
    min-height: 100vh;
}

#root{
    padding: 30px 0 0;
}

.credit{
    display: flex;
    gap: .3em;
    margin: 1.25em auto;
    color: $blue3;
    width: min-content;
    background-color: $white;
    text-align: center;
    padding: 1em 1.25em;
    border-radius: $br;
    border: $brw solid $blue3;
    font-weight: 700;
    a{
        color: $blue2;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 1.25em;
            margin-right: .3em;
        }
    }
}

.App{
    background-color: $blue3;
    max-width: 600px;
    width: 96vw;
    padding: 1em;
    margin: auto;
    border-radius: $br;
    // display: grid;
    // grid-template-rows: 50px auto;
    // grid-gap: .75em;
    @media (max-width: 400px) {
        font-size: 14px;
    }
    form{
        display: grid;
        grid-template-columns: 50% auto;
        height: 3.5em;
        margin-bottom: 1.5em;
        input, button{
            height: 100%;
            transition: all .4s;
            outline: none;
            border: none;
            font-size: inherit;
            font-weight: 700;
            border: $brw solid transparent;
        }
        input{
            background-color: $white;
            border-radius: $br 0 0 $br;
            padding: .75em 1em;
            &:focus{
                border-color: $blue1;
            }
        }
        button{
            border-radius: 0 $br $br 0;
            background-color: $blue1;
            cursor: pointer;
            font-size: 1.15em;
            &:hover{
                background-color: $blue3;
                color: $white;
                border-color: $white;
            }
        }
    }
    &>div{
        .icon{
            display: grid;
            grid-template-columns: max-content auto;
            // justify-content: center;
            align-items: center;
            margin-bottom: .85em;
            background-color: $white;
            border-radius: $br;
            height: 75px;
            border: $brw solid $blue1;
            color: $blue3;
            padding: 0 15px;
            span{
                font-weight: 700;
                font-size: 1.25em;
                text-transform: capitalize;
            }
            div{
                justify-self: end;
                width: 3em;
                display: flex;
                img{
                    width: 100%;
                }
            }
        }
        .elems{
            display: grid;
            grid-gap: .75em;
            .data_element{
                display: grid;
                grid-template-columns: 2.5em max-content auto;
                background-color: $blue1;
                padding: .5em 1em;
                border-radius: $br;
                // height: 60px;
                grid-gap: .75em;
                align-items: center;
                border: $brw solid transparent;
                transition: all .5s;
                span:first-child{
                    display: block;
                    img{
                        width: 100%;
                    }
                }
                span:nth-child(2){
                    text-transform: capitalize;
                    font-weight: 500;
                    font-size: 1.1em;
                }
                span:last-child{
                    justify-self: end;
                    font-weight: 700;
                    text-transform: capitalize;
                }
                &:hover{
                    color: white;
                    background: $blue3;
                    border-color: white;
                }
            }
        }
        .error{
            color: $white;
            text-align: center;
            font-weight: 700;
            background-color: $red;
            border-radius: $br;
            padding: 20px 0;
            font-size: 1.1em;
            border: $brw solid $white;
            text-transform: uppercase;
        }
    }
    .loading{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
        &>div{
            background-color: $white;
            padding: 15px;
            width: 55px;
            box-sizing: content-box;
            border-radius: $br;
            border: $brw solid $blue1;
        }
        img{
            width: 100%;
            animation-name: rotating;
            animation-duration: .5s;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(.84,.84,.56,1)
        }
    }
}

@keyframes rotating{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}